<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/TestChatCss.css">
    <meta name="viewport" content="width=device-width" />   
    <title></title>
</head>
<body>
    @RenderBody()
    <div class="bg"></div>   
</body>
</html>
